# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Environment files
.env
*.env

# Logs
*.log

# Frontend / Static build
node_modules/
dist/
build/

# Editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
